.image {
  max-height: 320px;
  overflow: hidden;
}
.card-container:hover img {
  transform: scale(1.1);
  transition: transform 1s ease;
}
.text-justify {
  text-align: justify;
}
.food-name {
  background: rgba(255, 255, 0, 0.151);
  margin-top: 10px;
  padding-bottom: 5px;
}
