.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcd04;
  border-radius: 100vh;
  border: 2.5px solid #1f2226;
}

::-webkit-scrollbar-track {
  background-color: #1f2226;
}
